
<div class="sp"> <%= link_to "Sign Up", new_user_path, class:"btn btn-info" %></div>

<div class="container col-md-4 flot-center">
<h1>Log into facebook</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.email_field :email, placeholder:"email", class: "form-control col-md-8" %><br>
  <%= f.password_field :password, placeholder:"password", class: "form-control col-md-8" %><br>
 <%= f.submit "Log in", class: "btn btn-info col-md-8" %>
<% end %>

</div>